/* assets/custom.css */

/* Increase the size of the modebar icons */
.modebar-btn svg {
    width: 34px !important;
    height: 34px !important;
}

.modebar-btn {
    width: 66px !important;
    height: 66px !important;
}

/* Center the modebar horizontally above the chart */
.plotly .modebar-container {
    position: absolute !important;
    top: -0px !important; /* Adjust based on your chart size */
    left: 50% !important;
    transform: translateX(-50%) !important; /* Centers the modebar */
}
